!!! 5
html(lang="en")
  head
    title= title
    // css
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.css")
    link(rel="stylesheet", href="/css/style.css")
    
    // js
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js", type='text/javascript')
    script(src="js/main.js", type='text/javascript')
      
  body
    .container
      img(src="/img/logo.jpg")
      h1.title= title
      h3= text
